<div class="todo-container">

  <div class="header">

    <h1>Todo</h1>
    <i class="bi bi-brightness-high-fill"></i>
  </div>
  <div class="todo">
      <input class="form-control form-control-lg" type="text" placeholder="create your todo" aria-label=".form-control-lg example">
      <div class="data-container">
        <div class="data">

        </div>
        <div class="buttons">
          <p>0 items</p>
          <div class="links">
            <a >All</a>
            <a >Active</a>
            <a >Completed</a>
          </div>

          <button class="clear">Clear Completed</button>
        </div>
      </div>
  </div>
</div>
