.todo-container{
  color:white;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;

}
.header{
  display:flex;
  flex-flow:row;
  justify-content:space-between;
  align-items:center;
  margin:10px 10px;
}
.data-container{
  display:flex;
  flex-flow:column;
align-content: space-between;
  margin-top:20px;
}
.buttons{
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    align-items:center;
    height: 50px;
    margin :10px 10px;
    padding :0px 0px;
    border-radius: 10px;
}
.links{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-left:10px;
}
.links a{
  text-decoration:none;
  margin:10px;
}
.links a.active {
  color: white;
  font-weight: bold;
}
.buttons p{
  /* align-self: center; */
  margin:10px 10px;
  /* background-color: inherit; */
}
.clear , .links a {
  background-color: hsl(235, 24%, 19%);
  color:white;
  border:none;
color:hsl(236, 9%, 61%);

}
.data-container {
  background-color: hsl(235, 24%, 19%);

}
.todo input{
  background-color: hsl(235, 24%, 19%);
  color:white;
  border-radius: 20px;
}
.todo input::placeholder{
  color:hsl(236, 9%, 61%);
}
.header i {
  font-size: 18px;
}
.light-mode{
  background-color: hsl(236, 33%, 92%);
  color:hsl(235, 19%, 35%);

}
