.all-container{
  display:flex;
  flex-flow:column;
  margin:5px 10px;

  align-items:center;
  width:500px !important;
   justify-content:space-between;
    height: fit-content;
    padding :0px 0px;
    border:1px solid inherit;
    border-radius: 20px !important;




}
.all{
  display:flex;
  flex-flow:row;
  justify-content:space-between;
  align-items:center;
  border-bottom:1px solid hsl(236, 9%, 61%);
  width: 100%;
  padding:0px;
  border-bottom:1px solid hsl(236, 9%, 61%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
:host{
  display:flex;
  flex-flow:column;
  width:500px !important;
   justify-content:space-between;
    align-items:center;
    height: fit-content;
    margin :5px 10px;
    padding :0px 0px;
    border:1px solid inherit;
    border-radius: 20px !important;
    gap:5px;

}
.content{
  display:flex;
  justify-content:flex-start;
  margin:5px 10px;
  align-self:center;
  gap:10px;

}
.all span{
  display:flex;
  justify-content:flex-end;
  cursor:pointer;
}
.content input{
 width:20px;
  height:20px;
}
.completed{
  text-decoration:line-through;

}
.active{
  text-decoration:none;
}
